* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutSection {
    background-color: rgba(208, 153, 217, 0.50);
}

.aboutHeading {
    color: #252A34;

    font-family: 'Playfair Display';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
}

.aboutSubHeading {
    color: #132540bf;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.aboutName {
    color: #22495F;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.aboutHr {
    width: 70px;
    border: 1px solid #000000;
}

.aboutWonder {
    color: #22495F;
    font-family: 'Nunito Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.aboutWonderPara {
    color: #374151;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
}

.my-button {
    background-color: #7851A9;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #5206ae;
}

.Goal {
    background: rgba(222, 49, 99, 0.15);
}

.goalVision {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
}

.ourVision {
    color: #374151ce;
    margin-bottom: 0px;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.ourVisionText {
    margin-bottom: 0px;
    color: #22495F;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.historyMission {
    color: #1D2130;

    font-family: 'Roboto';
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.historyMissionText {
    color: #525560;

    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}