* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TopBar  */
.topbar {
    background-color: #DE3163;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileSection {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    align-items: center;
}

.socialIcons {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Header  */

.header {
    background: rgba(222, 49, 99, 0.20) !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    padding: 0px !important;
}

.navbar-brand {
    padding: 0px;
}

nav .nav-link {
    color: rgba(0, 0, 0, 0.85);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    padding-right: 20px !important;
    font-weight: 600;
    line-height: normal;
}

nav .nav-link Link {
    color: rgba(0, 0, 0, 0.85) !important;
}

.donateBtn {
    border-radius: 4px;
    background: #DE3163;
    width: 90px;
    color: #fff;
    color: rgba(255, 255, 255, 0.85);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-right: 10px;
    margin-bottom: 5px;
    line-height: normal;
}

.donateBtn:hover {
    background: #b40436;
    color: #fff;
}

.volunteerBtn {
    border-radius: 4px;
    background: #7851A9;
    color: rgba(255, 255, 255, 0.85);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    width: 100px;
}

.volunteerBtn:hover {
    background: #560eae;
    color: #fff;
}

/* Footer  */
.footerSection {
    background: rgba(43, 20, 71, 0.75);
}

.footerText {
    color: #e8e8e8;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 130%;
    /* 26px */
}

.footerIcon {
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    margin: 0px 10px;
    color: #fff;
    background: rgba(255, 255, 255, 0.20);
}

.footerRow {
    padding: 48px 49px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
}

.footerHeading {
    color: #FFF;

    font-family: 'Shippori Mincho', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footerContent {
    color: #ebebeb !important;
    margin-bottom: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footerCopyrights {
    color: #e1e1e1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300 !important;
    line-height: 130%;
}


.contact_us .address {
    background-color: rgb(120, 81, 169, 15%);

}

.contact_us .member {
    background-color: rgba(222, 49, 99, 0.1);
}

.contact_us .heading_word {
    color: #22495F;
    font-family: 'Roboto', sans-serif;
}

.contact_us .paragraph_word {
    color: rgba(29, 33, 48, 0.7);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 450;
}

.contact_us .contactIcon {
    margin-right: 10px;
    color: rgba(29, 33, 48, 0.7);
    font-size: 20px;
}

.contact_us .member {
    background-color: rgba(222, 49, 99, 0.1);
}

.contact_us .my-button {
    background-color: #7851A9;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact_us .volunteer {
    background-color: rgba(120, 81, 169, 0.1);
}



/* About  */

.aboutSection {
    background-color: rgba(208, 153, 217, 0.50);
}

.aboutHeading {
    color: #252A34;

    font-family: 'Playfair Display';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
}

.aboutSubHeading {
    color: #132540bf;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.aboutName {
    color: #22495F;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.aboutHr {
    width: 70px;
    border: 1px solid #000000;
}

.aboutWonder {
    color: #22495F;
    font-family: 'Nunito Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.aboutWonderPara {
    color: #374151;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
}

.my-button {
    background-color: #7851A9;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #5206ae;
}

.Goal {
    background: rgba(222, 49, 99, 0.15);
}

.goalVision {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
}

.ourVision {
    color: #374151ce;
    margin-bottom: 0px;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.ourVisionText {
    margin-bottom: 0px;
    color: #22495F;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.historyMission {
    color: #1D2130;

    font-family: 'Roboto';
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.historyMissionText {
    color: #525560;

    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.ourBoard {
    background-color: rgba(120, 81, 169, 0.20);
}

.ourBoardTeam {
    color: #FF6D6D;
    text-align: center;
    font-family: 'Sue Ellen Francisco';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.3%;
    margin-bottom: 0px;
}

.ourBoardTeamText {
    color: #2E4049;
    text-align: center;
    font-family: 'Shippori Mincho';
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}


/* BoardCommittee */

.BoardCommittee {
    background-color: rgba(227, 107, 134, 0.2);
}

.serviceCard {
    border-radius: 8px;
    border: 1.5px solid var(--color-gray-gray-200, #D0D0D0);
}

.cardHeading {
    color: #2A2A2A;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}


/* Home  */

/* Hero  */


.Hero {
    background-color: rgba(120, 81, 169, 0.15);
}

.Hero h1 {
    font-family: 'Playfair Display', sans-serif;
}

.Hero .herobtn {
    background-color: #de3163;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Hero .herobtn:hover {
    background-color: #eb0f4d;
    color: #ffff;
}

/* Help  */


.Help h1 {
    font-family: 'Playfair Display';
    font-weight: 600;
    color: #22495F;
}

.Help .Readbtn {
    background-color: #fff;
    color: #3A40D8;
    border-radius: 4px;
    border: 1.5px solid #7851A1;
}

/* Non Profitable  */

.NonProfitable {
    background: rgba(120, 81, 169, 0.15);
}

.NonProfitable h1 {
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}

.NonProfitable p {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.NonProfitable .dividedline {
    transform: rotate(90deg);
    color: #5206ae;
    margin: 2rem 0;
    height: 0.5px;
}

.NonProfitable .Donatebtn{
    background-color: #DE3163;
    border: none;
    padding: 10px 30px;
}