* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TopBar  */
.topbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #DE3163;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileSection {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    align-items: center;
}

.socialIcons {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Header  */

.header {
    top: 32px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #f8d6e0 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    padding: 0px !important;
}

.navbar-brand {
    padding: 0px;
}

nav .nav-link {
    color: rgba(0, 0, 0, 0.85);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    padding-right: 20px !important;
    font-weight: 600;
    line-height: normal;
}

nav .nav-link Link {
    color: rgba(0, 0, 0, 0.85) !important;
}

.donateBtn {
    border-radius: 4px;
    background: #DE3163;
    width: 90px;
    color: #fff;
    color: rgba(255, 255, 255, 0.85);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-right: 10px;
    margin-bottom: 5px;
    line-height: normal;
}

.donateBtn:hover {
    background: #b40436;
    color: #fff;
}

.volunteerBtn {
    border-radius: 4px;
    background: #7851A9;
    color: rgba(255, 255, 255, 0.85);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    width: 100px;
}

.volunteerBtn:hover {
    background: #560eae;
    color: #fff;
}

.active {
    background-color: #b40436;
    color: #fff !important;
    font-weight: normal !important;
    padding: 7px;
    border-radius: 4px;
}

/* Navbar Dropdown  */


.eventList:hover {
    color: #fff;
    background-color: #7851A9;
}

/* Footer  */
.footerSection {
    background: rgba(43, 20, 71, 0.75);
}

.footerText {
    color: #e8e8e8;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 130%;
    /* 26px */
}

.footerIcon {
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    margin: 0px 10px;
    color: #fff;
    background: rgba(255, 255, 255, 0.20);
}

.footerRow {
    padding: 48px 49px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
}

.footerHeading {
    color: #FFF;

    font-family: 'Shippori Mincho', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footerContent {
    color: #ebebeb !important;
    margin-bottom: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footerCopyrights {
    color: #e1e1e1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300 !important;
    line-height: 130%;
}

/* Error Page  */

.errorPage .gotoBtn {
    background-color: #ff81ae;
    border: none;
    border-radius: 20px;
}

/* Contact Us  */

.contact_us .address {
    background-color: rgb(120, 81, 169, 15%);

}

.contact_us .member {
    background-color: rgba(222, 49, 99, 0.1);
}

.contact_us .heading_word {
    color: #22495F;
    font-family: 'Roboto', sans-serif;
}

.contact_us .paragraph_word {
    color: rgba(29, 33, 48, 0.7);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 450;
}

.contact_us .contactIcon {
    margin-right: 10px;
    color: rgba(29, 33, 48, 0.7);
    font-size: 20px;
}

.contact_us .member {
    background-color: rgba(222, 49, 99, 0.1);
}

.contact_us .my-button {
    background-color: #7851A9;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact_us .volunteer {
    background-color: rgba(120, 81, 169, 0.1);
}



/* About  */

.aboutSection {
    background-color: rgba(208, 153, 217, 0.50);
}

.aboutHeading {
    color: #252A34;

    font-family: 'Playfair Display';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
}

.aboutSubHeading {
    color: #132540bf;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.aboutName {
    color: #22495F;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.aboutHr {
    width: 70px;
    border: 1px solid #000000;
}

.aboutWonder {
    color: #22495F;
    font-family: 'Nunito Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.aboutWonderPara {
    color: #374151;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
}

.my-button {
    background-color: #7851A9;
    color: white;
    padding: 10px 35px;
    width: 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #5206ae;
}

.Goal {
    background: rgba(222, 49, 99, 0.15);
}

.goalVision {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
}

.ourVision {
    color: #374151ce;
    margin-bottom: 0px;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.ourVisionText {
    margin-bottom: 0px;
    color: #22495F;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.historyMission {
    color: #1D2130;

    font-family: 'Roboto';
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.historyMissionText {
    color: #525560;

    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.ourBoard {
    background-color: rgba(120, 81, 169, 0.20);
}

.ourBoardTeam {
    color: #FF6D6D;
    text-align: center;
    font-family: 'Sue Ellen Francisco';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.3%;
    margin-bottom: 0px;
}

.ourBoardTeamText {
    color: #2E4049;
    text-align: center;
    font-family: 'Shippori Mincho';
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}


/* BoardCommittee */

.BoardCommittee {
    background-color: rgba(227, 107, 134, 0.2);
}

.serviceCard {
    border-radius: 8px;
    border: 1.5px solid var(--color-gray-gray-200, #D0D0D0);
}

.cardHeading {
    color: #2A2A2A;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}


/* Home  */

/* Hero  */


.Hero {
    background-color: rgba(120, 81, 169, 0.15);
}

.HeroHeading {
    color: #252A34;
    font-family: 'Playfair Display';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.Hero h1 {
    font-family: 'Playfair Display', sans-serif;
}

.Hero .herobtn {
    background-color: #de3163;
    color: white;
    width: 200px;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Hero .herobtn:hover {
    background-color: #eb0f4d;
    color: #ffff;
}

/* Help  */


.Help h1 {
    font-family: 'Playfair Display';
    font-weight: 600;
    color: #22495F;
}

.Help .Readbtn {
    background-color: #fff;
    color: #3A40D8;
    border-radius: 4px;
    border: 1.5px solid #7851A1;
}

.Help .Readbtn:hover {
    background-color: #3A40D8;
    color: #fff;
}

/* Non Profitable  */

.NonProfitable {
    background: rgba(120, 81, 169, 0.15);
}

.NonProfitable h1 {
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}

.NonProfitable p {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.NonProfitable .dividedline {
    transform: rotate(90deg);
    color: #5206ae;
    margin: 2rem 0;
    width: 50px;
}

.NonProfitable .Donatebtn {
    background-color: #DE3163;
    border: none;
    padding: 15px 35px;
}

/* Supporters  */

.Supporters {
    background-color: #de3162bc;
    color: #c0bebe;
}

.Supporters h3 {
    color: #fff;
    width: 60px;
}

.Supporters .supportersIcon {
    font-size: 25px;
}

.Supporters .supportersName {
    font-weight: 800;
    color: #fff;
}


/* About Us  */

.Aboutus .aboutName {
    color: #252A34;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 1300;
    text-transform: capitalize;
}

.Aboutus h1 {
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    text-transform: capitalize;
}

.Aboutus p {
    color: #444;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: capitalize;
    margin-top: 15px;
}



/* welcomeCharity  */



.welcomeCharity {
    background-color: rgba(222, 49, 99, 0.1);
}

.welcomeCharity h1 {
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    text-transform: capitalize;
}

.welcomeCharity p {
    color: #444;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    text-transform: capitalize;
    margin-top: 15px;
}

.welcomeCharity .card-title {
    color: #DE3163;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
}

.welcomeCharity .card-body {
    background-color: rgba(222, 49, 99, 0.2);
}

#RangeInput {
    width: 90%;
    background-color: #881212;
    color: #000;
    border-radius: none;
}

input[type="range"] {
    accent-color: #DE3163;
}

#DownloadIcon {
    background-color: transparent !important;
    color: #000 !important;
    font-size: 25px;
}

#SkillsKnow {
    color: #252A34;
    font-family: 'Montserrat' !important;
    font-size: 20px;
    font-weight: 500 !important;
    font-style: normal;
    line-height: normal;
}

#SkillsBox {
    border: 3px solid #e43838;
    background: #2F2F2F;
    padding: 20px;
}

#SkillColor {
    background: #2F2F2F;
}


/* Awards  */


.awards .awardstitle {
    color: #22495F;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}


.awardCountry {
    color: #1d2130c4;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

/* Our Volunteer */

.ourVolunteers {
    background-color: rgba(120, 81, 169, 0.20);
}

.ourVolunteers .ourVolunteersText {
    color: #2E4049;
    text-align: center;
    font-family: Shippori Mincho;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    padding-bottom: 20px;
}

.ourVolunteers .card {
    background-color: rgba(222, 49, 99, 0.4);
    border-radius: 0;
    border: none;
}

.ourVolunteers .card-title {
    color: #2E4049;
    text-align: center;
    font-family: Shippori Mincho;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 30px */
}

.ourVolunteers .card-text {
    color: #2E4049;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.ourVolunteers .volunteerbtn {
    border-radius: 34px;
    background: #2E4049;
    width: 201px;
    height: 40px;
    color: #FFF;
    border: none;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 10px;
}

.ourVolunteers .card-img-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contribute  */

.contribute .card {
    background: rgba(0, 0, 0, 0) url("../asset/contributeImg1.png") center center/cover no-repeat;
    height: 300px;
    object-fit: cover;
}

.contribute .card-title {
    color: #fff;
}

.contribute .Joinbtn {
    background-color: #7851A9;
    border: none;
    border-radius: 0;
}

.contribute .Donatebtn {
    background-color: #fff;
    color: #7851A9;
    border: none;
    border-radius: 0;
}

/* Our Events  */

.Eventlist .Eventdate {
    color: var(--Text-color, #374151);
    font-family: Nunito Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    font-variant: small-caps;
}

.Eventlist .Eventmonth {
    color: var(--Text-color, #374151);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Eventlist .NextEvents {
    color: var(--Text-color, #374151);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.Eventlist .NextEventsText {
    color: var(--Title-color, #22495F);
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 42px */
}

.Eventlist .NextEvents {
    color: #22495F;
    margin-bottom: 0px;
    font-family: "Nunito Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.Eventlist p {
    margin-bottom: 0;
}

.Eventlist .eventIcon {
    font-size: 30px;
    color: #fff;
}



/* Testimonial  */

.testimonial {
    background: #EEEAFC;
}

.testimonialWhat {
    color: #FFF;
    font-family: 'Playfair Display';
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
}

.testimonialContainer {
    background-color: #7951a9;
    padding-left: 80px;
}

.testimonialPara {
    color: #2A2A2A;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.testimonialAuthor {
    color: #2A2A2A;
    font-family: 'Playfair Display';
    margin-bottom: 0px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.testimonialPosition {
    color: #2A2A2A;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.testimonialImage {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.react-multiple-carousel__arrow {
    position: absolute;
    margin-left: 60%;
    margin-right: 15%;
    background-color: transparent;
    border: 2px solid #ffffffb0;
    margin-top: 23%;
    z-index: 10 !important;
}

.react-multiple-carousel__arrow:hover {
    background-color: #2d0261;
}

.testimonialArrow {
    background: rgba(120, 81, 169, 0.95);
}

@media (max-width: 1311px) {
    .react-multiple-carousel__arrow {
        margin-top: 28% !important;
    }
}

@media (max-width: 1150px) {
    .react-multiple-carousel__arrow {
        margin-top: 33% !important;
    }
}

.Solution {
    background: linear-gradient(to bottom, #EEEAFC 50%, #de3162b1 50%);
}

.solutiionAct {
    color: #DE3163;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 0px;
    /* 130% */
}

.solutionText {
    color: #1D1D1D;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    /* 115% */
}

.solutionDonate {
    border-radius: 5px;
    background: #7851A9;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
}

.solutionDonate:hover {
    background: #4e00ad;
    color: #fff;
}

.solutionBackground {
    background: url("../asset/SolutionBackground.png");
    background-size: cover;
    position: relative;
}

.Count {
    background: #de3162b1;
}

.supportersCount {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 0px;
}

.supportLine {
    margin: 0px;
    width: 80%;
    text-align: center;
    border: 2px solid #4e00ad;
}

.supportersText {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    white-space: nowrap;
    /* 144.444% */
}

/* Our Events  */
.ourEvents {
    color: #22495F;
    font-family: 'Nunito Sans';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    white-space: nowrap;
}


/* Events  */

/* Lady Boss  */

/* Lady Hero  */

.ladyHero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../asset/ladyBoyBackground.png"), no-repeat;
}

.ladyHero {
    color: #fff;
    font-family: Roboto;
}

.ladyHero .ladybosseventsText {
    font-size: 64px;
    font-weight: 800;
}

.ladyHero .ladybosseventsLine {
    width: 1024px;
    height: 5px;
    background-color: #fff;
}

.ladyHero .ladybossheroContent {
    font-size: 26px;
    font-weight: 500;
}

/* About Lady Boss   */

.aboutladyBoss .aboutladybossContent {
    background: linear-gradient(0deg, rgba(222, 49, 99, 0.7) 0%, rgba(222, 49, 99, 0.7) 100%), url("../asset/About\ LadyBoss\ Content.png"), no-repeat;
}

/* .aboutladyBoss .row {
    padding-right: 0;
} */

.aboutladyBoss .ladybossHeading {
    font-family: Shippori Mincho;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.aboutladyBoss .ladybossQuotes {
    font-family: Shippori Mincho;
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
}

.aboutladyBoss .turningContent{
    font-family: Nunito;
    font-size: 20px;
    color: #fff;
}

/* Lady BossBC  */

.ladybossBCtitle{
    background-color: rgba(222, 49, 99, 0.2);
    font-family: Nunito;
    font-size: 24px;
    color: #2E4049;
    font-style: normal;
}
  
  