* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#Dummy {
    color: rgb(255, 0, 0);
}

.Eventlist .Eventdate {
    color: var(--Text-color, #374151);
    font-family: Nunito Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    font-variant: small-caps;
}

.Eventlist .Eventmonth {
    color: var(--Text-color, #374151);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Eventlist .NextEvents {
    color: var(--Text-color, #374151);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.Eventlist .NextEventsText {
    color: var(--Title-color, #22495F);
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 42px */
}

.Eventlist .NextEvents {
    color: #22495F;
    margin-bottom: 0px;
    font-family: "Nunito Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.Eventlist p {
    margin-bottom: 0;
}

.Eventlist .eventIcon {
    font-size: 30px;
    color: #fff;
}