* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Youth */

.youthHero {
    background: linear-gradient(0deg, rgba(222, 49, 99, 0.60) 0%, rgba(222, 49, 99, 0.60) 100%), url(../asset/youthBackground.png), lightgray 50% / cover no-repeat;
}

.youthEvents {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 0px;
    line-height: normal;
}

.youthHr {
    color: #FFF;
    background: #FFF !important;
    height: 5px;
}

.youthEventsPara {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.allUpcoming {
    color: #22495F;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sunriseImage {
    background: linear-gradient(to right, #de3162b1 70%, #fff 30%);
}

.sunriseHeading {
    color: #DE3163;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
}

.sunriseHr {
    color: #22495FB2;
    background: #22495FB2 !important;
    height: 5px;
}

.sunrisePara {
    color: #555;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sunrisePara2 {
    color: #555;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.youthAdverdisement {
    background: linear-gradient(to bottom, #fff 60%, #de3162b1 40%);
}

.ChildrenHero {
    background: linear-gradient(0deg, rgba(222, 49, 99, 0.60) 0%, rgba(222, 49, 99, 0.60) 100%), url('../asset/childBackground.png'), lightgray 50% / cover no-repeat;
}

.UpcommingHero {
    background: linear-gradient(0deg, rgba(222, 49, 99, 0.60) 0%, rgba(222, 49, 99, 0.60) 100%), url('../asset/upcommingBackground.jpg'), lightgray 50% / cover no-repeat;
}

.children {
    color: #FF6D6D;
    text-align: center;
    font-family: 'Sue Ellen Francisco';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
}

.childrenHeading {
    color: #2E4049;
    text-align: center;
    font-family: 'Shippori Mincho';
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 48px */
}

.childHeading {
    color: #2E4049;
    font-family: Shippori Mincho;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 42px */
}

.childPara {
    color: #000;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

.ChildrenImage {
    background: linear-gradient(to right, #de3162b1 70%, #dbb6be00 30%);
}

.ChildrenImage1 {
    background: linear-gradient(to left, #de3162b1 70%, #dbb6be00 30%);
}